{% extends 'base.html' %}
{% load static %}


{% block content %}
<main id="main">
    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
        <div class="container-md" data-aos="fade-in">
            <div class="row">
                <div class="col-12">
                    <div class="swiper sliderFeaturedPosts">
                        <div class="swiper-wrapper">
                            {% for post in posts.first_posts %}
                            <div class="swiper-slide">
                                <a href="{% url 'detail' slug=post.slug %}" class="img-bg d-flex align-items-end"
                                    style="background-image: url('{{ post.img.url }}');">
                                    <div class="img-bg-inner">
                                        <h2>{{ post.title }}</h2>
                                        <p>{{ post.text|safe|truncatechars:210 }}</p>
                                    </div>
                                </a>
                            </div>

                            {% endfor %}
                        </div>
                        <div class="custom-swiper-button-next">
                            <span class="fas fa-angle-right"></span>
                        </div>
                        <div class="custom-swiper-button-prev">
                            <span class="fas fa-angle-left"></span>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Slider Section -->


    <!-- ================= Post Grid Section ========================= -->
    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="post-entry-1 lg">
                        <a href="{% url 'detail' slug=posts.culture_x.slug %}">
                            <img src="{% static 'img/post-landscape-1.jpg' %}" alt="" class="img-fluid">
                        </a>
                        <div class="post-meta"><span class="date">{{ posts.culture_x.category }}</span> <span
                                class="mx-1">&bullet;</span>
                            <span>{{ posts.culture_x.published|date:'M jS \'y' }}</span>
                        </div>
                        <h2>
                            <a href="{% url 'detail' slug=posts.culture_x.slug %}">{{ posts.culture_x.title }}</a>
                        </h2>
                        <p class="mb-4 d-block">{{ posts.culture_x.text|safe|slice:":370" }}</p>

                        <div class="d-flex align-items-center author">
                            <div class="photo"><img src="{% static 'img/person-1.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="m-0 p-0">Cypher</h3>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-8">
                    <div class="row g-5">
                        <div class="col-lg-4 border-start custom-border">
                            {% for post in posts.first_posts %}
                            <div class="post-entry-1">
                                <a href="{% url 'detail' slug=post.slug %}">
                                    <img src="{{ post.img.url }}" alt="" class="img-fluid">
                                </a>
                                <div class="post-meta"><span class="date">{{ post.category }}</span> <span
                                        class="mx-1">&bullet;</span> <span>{{ post.published|date:'M jS \'y' }}</span>
                                </div>
                                <h2>
                                    <a href="{% url 'detail' slug=post.slug %}">{{ post.title }}</a>
                                </h2>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-4 border-start custom-border">
                            {% for post in posts.second_posts %}
                            <div class="post-entry-1">
                                <a href="{% url 'detail' slug=post.slug %}">
                                    <img src="{{ post.img.url }}" alt="" class="img-fluid">
                                </a>
                                <div class="post-meta"><span class="date">{{ post.category }}</span> <span
                                        class="mx-1">&bullet;</span> <span>{{ post.published|date:'M jS \'y' }}</span>
                                </div>
                                <h2><a href="{% url 'detail' slug=post.slug %}">{{ post.title }}</a></h2>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Trending Section -->
                        <div class="col-lg-4">

                            <div class="trending">
                                <h3>Trending</h3>
                                <ul class="trending-post">
                                    {% for post in posts.trending %}
                                    <li>
                                        <a href="{% url 'detail' slug=post.slug %}">
                                            <h3>{{ post.title }}</h3>
                                            <span class="author">Cypher</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> <!-- End Trending Section -->
                    </div>
                </div>
            </div> <!-- End .row -->
        </div>
    </section>
    <!-- ================= Post Grid Section END ========================= -->


    <!-- ======= Culture Category Section ======= -->
    <section class="category-section">
        <div class="container" data-aos="fade-up">

            <div class="section-header d-flex justify-content-between align-items-center mb-5">
                <h2>Culture</h2>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="d-lg-flex post-entry-2">
                        <a href="{% url 'detail' slug=posts.culture_y.slug %}"
                            class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                            <img src="{{ posts.culture_y.img.url }}" alt="" class="img-fluid">
                        </a>
                        <div>
                            <div class="post-meta"><span class="date">{{ posts.culture_y.category }}</span> <span
                                    class="mx-1">&bullet;</span>
                                <span>{{ posts.culture_y.published|date:'M jS \'y' }}</span>
                            </div>
                            <h3>
                                <a href="{% url 'detail' slug=posts.culture_y.slug %}">{{ posts.culture_y.title }}</a>
                            </h3>
                            <p>{{ posts.culture_x.text|safe|slice:":250" }}</p>
                            <div class="d-flex align-items-center author">
                                <div class="photo"><img src="{% static 'img/person-1.jpg' %}" alt="" class="img-fluid">
                                </div>
                                <div class="name">
                                    <h3 class="m-0 p-0">Cypher</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="post-entry-1">
                                <a href="{% url 'detail' slug=posts.culture_x.slug %}">
                                    <img src="{{ posts.culture_x.img.url }}" alt="" class="img-fluid">
                                </a>
                                <div class="post-meta"><span class="date">{{ posts.culture_x.category }}</span> <span
                                        class="mx-1">&bullet;</span>
                                    <span>{{ posts.culture_x.published|date:'M jS \'y'}}</span>
                                </div>
                                <h2 class="mb-2">
                                    <a href="{% url 'detail' slug=posts.culture_x.slug %}">
                                        {{ posts.culture_x.title }}</a>
                                </h2>
                                <span class="author mb-3 d-block">Cypher</span>
                                <p class="mb-4 d-block">{{ posts.culture_y.text|safe|slice:":200" }}</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="post-entry-1">
                                <a href="{% url 'detail' slug=posts.culture_z.slug %}">
                                    <img src="{{ posts.culture_z.img.url }}" alt="" class="img-fluid"></a>
                                <div class="post-meta">
                                    <span class="date">{{ posts.culture_z.category }}</span>
                                    <span class="mx-1">&bullet;</span>
                                    <span>{{ posts.culture_z.published|date:'M jS \'y' }}</span>
                                </div>
                                <h2 class="mb-2">
                                    <a href="{% url 'detail' slug=posts.culture_z.slug %}">
                                        {{ posts.culture_z.title }}</a>
                                </h2>
                                <span class="author mb-3 d-block">Cypher</span>
                                <p class="mb-4 d-block">{{ posts.culture_z.text|safe|slice:":200" }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    {% for post in posts.culture_posts %}
                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">{{ post.category }}</span> <span
                                class="mx-1">&bullet;</span>
                            <span>{{ post.published|date:'M jS \'y' }}</span>
                        </div>
                        <h2 class="mb-2">
                            <a href="{% url 'detail' slug=post.slug %}">{{ post.title }}</a>
                        </h2>
                        <span class="author mb-3 d-block">Cypher</span>
                    </div>
                    {% endfor %}
                    {% for post in posts.culture_posts %}
                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">{{ post.category }}</span> <span
                                class="mx-1">&bullet;</span>
                            <span>{{ post.published|date:'M jS \'y' }}</span>
                        </div>
                        <h2 class="mb-2">
                            <a href="{% url 'detail' slug=post.slug %}">{{ post.title }}</a>
                        </h2>
                        <span class="author mb-3 d-block">Cypher</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section><!-- End Culture Category Section -->


    <!-- ======= Business Category Section ======= -->
    <section class="category-section">
        <div class="container" data-aos="fade-up">

            <div class="section-header d-flex justify-content-between align-items-center mb-5">
                <h2>Business</h2>
            </div>

            <div class="row">
                <div class="col-md-9 order-md-2">

                    <div class="d-lg-flex post-entry-2">
                        <a href="{% url 'detail' slug=posts.business_x.slug %}"
                            class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                            <img src="{{ posts.business_x.img.url }}" alt="" class="img-fluid">
                        </a>
                        <div>
                            <div class="post-meta"><span class="date">{{ posts.business_x.category }}</span> <span
                                    class="mx-1">&bullet;</span>
                                <span>{{ posts.business_x.published|date:'M jS \'y' }}</span>
                            </div>
                            <h3>
                                <a href="{% url 'detail' slug=posts.business_x.slug %}">
                                    {{ posts.business_x.title }}</a>
                            </h3>
                            <p>{{ posts.business_x.text|safe|slice:":200" }}</p>
                            <div class="d-flex align-items-center author">
                                <div class="photo"><img src="{% static 'img/person-1.jpg' %}" alt="" class="img-fluid">
                                </div>
                                <div class="name">
                                    <h3 class="m-0 p-0">Cypher</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="post-entry-1 border-bottom">
                                <a href="{% url 'detail' slug=posts.business_y.slug %}">
                                    <img src="{{ posts.business_y.img.url }}" alt="" class="img-fluid">
                                </a>
                                <div class="post-meta"><span class="date">{{ posts.business_y.category }}</span> <span
                                        class="mx-1">&bullet;</span>
                                    <span>{{ posts.business_y.published|date:'M jS \'y' }}</span>
                                </div>
                                <h2 class="mb-2">
                                    <a href="{% url 'detail' slug=posts.business_y.slug %}">
                                        {{ posts.business_y.title|slice:":41" }}</a>
                                </h2>
                                <span class="author mb-3 d-block">Cypher</span>
                                <p class="mb-4 d-block">{{ posts.business_y.text|safe|slice:"160" }}
                            </div>


                        </div>
                        <div class="col-lg-6">
                            <div class="post-entry-1">
                                <a href="{% url 'detail' slug=posts.business_z.slug %}">
                                    <img src="{{ posts.business_z.img.url }}" alt="" class="img-fluid">
                                </a>
                                <div class="post-meta"><span class="date">{{ posts.business_z.category }}</span> <span
                                        class="mx-1">&bullet;</span>
                                    <span>{{ posts.business_z.published|date:'M jS \'y' }}</span>
                                </div>
                                <h2 class="mb-2">
                                    <a href="{% url 'detail' slug=posts.business_z.slug %}">
                                        {{ posts.business_z.title }}</a>
                                </h2>
                                <span class="author mb-3 d-block">Cypher</span>
                                <p class="mb-4 d-block">{{ posts.business_z.text|safe|slice:"160" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    {% for post in posts.business_posts %}
                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">{{ post.category }}</span> <span
                                class="mx-1">&bullet;</span>
                            <span>{{ post.published|date:'M jS \'y' }}</span>
                        </div>
                        <h2 class="mb-2"><a href="{% url 'detail' slug=post.slug %}">{{ post.title }}</a></h2>
                        <span class="author mb-3 d-block">Cypher</span>
                    </div>
                    {% endfor %}
                    {% for post in posts.business_posts %}
                    <div class="post-entry-1 border-bottom">
                        <div class="post-meta"><span class="date">{{ post.category }}</span> <span
                                class="mx-1">&bullet;</span>
                            <span>{{ post.published|date:'M jS \'y' }}</span>
                        </div>
                        <h2 class="mb-2"><a href="{% url 'detail' slug=post.slug %}">{{ post.title }}</a></h2>
                        <span class="author mb-3 d-block">Cypher</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section><!-- End Business Category Section -->





</main><!-- End #main -->


{% endblock %}